extends ./layout/layout

block head
    title Encurtador de Links
    link(rel="icon" href="favicon.ico")
    link(rel="stylesheet" href="/css/style.css")

block body
    form.md-form.text-center(method="POST" action="/success" style="margin-top: 100px;")
        img.mb-5(src="/img/encurtador.png" alt="Encurtador Image" style="width: 280px;")
        br
        input(placeholder="Coloque o URL original" name="link" required)
        br
        button.btn.btn-primary.mt-4(type="submit") Encurtar
